<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%t] (%F:%L) %d{MMM/dd HH:mm:ss} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="fatal" />
			<param name="LevelMin" value="trace" />
			<param name="AcceptOnMatch" value="true" />
		</filter>

	</appender>


	<appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="false" />
		<param name="File" value="issue-assigner.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%t] (%F:%L) %d{MMM/dd HH:mm:ss} - %m%n" />
			<!-- param name="ConversionPattern" value="%5p [%t] %c.[%x] (%F:%L) %d{MMM/dd 
				HH:mm:ss} - %m%n"/ -->
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="fatal" />
			<param name="LevelMin" value="trace" />
			<param name="AcceptOnMatch" value="true" />
		</filter>

	</appender>

	<!-- 
	TRACE,
	DEBUG,
	INFO,
	WARN,
	ERROR and
	FATAL
	-->
	
	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="LOGFILE" />
	</root>

	<logger name="com.timw.autoassign">
		<level value="debug" />
	</logger>

</log4j:configuration>